mixin b-contact-form()
	+b-title_preview-post("contact")
	form.b-contact-form
		input.b-contact-form__item(type="text" placeholder="Name" name="author")
		input.b-contact-form__item(type="text" placeholder="Email" name="email")
		input.b-contact-form__item(type="text" placeholder="Subject" name="title")
		textarea.b-contact-form__item._textarea(type="text" placeholder="Message" name="message")
		input.b-contact-form__item._button(type="submit")