.h-header-top
	center(1200px, 25px)
	@extend $_full-width
	background-color #333
	padding 0px 20px

.l-header-social
	@extend $_pull-r
	b-social()

.h-header-middle
	center(1200px, 25px)
	@extend $_full-width
	background-color #fff
	padding 30px 20px
	cf()

.l-header-logo
	@extend $_pull-l
	b-logo()

.l-header-nav
	@extend $_pull-r
	padding-top 16px
	b-nav()
	+below(840px)
		width 100%
