mixin b-about()
	.b-about
		h5.b-about__title ABOUT US
		p.b-about__text.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem tortor, ac sagittis. Morbi mollis, neque sit amet convallis bibendum, leo purus commodo orci.
			<hr class="h-separator">Address: 501 Boulevard, New York City, New York
			<hr class="h-separator">Phone: 1-800-123-1234
			<hr class="h-separator">Email: contact@dentalclinic.com
