b-about()
	.b-about
		&__title
			margin-bottom 22px
			font-size 14px
			font-weight 700
			color #e0e0e0
			line-height 1.3em
		&__text
			line-height 1.5em

	.h-separator
		border 1px solid transparent
