$_txt-a_r
	text-align right

$_txt-a_l
	text-align left

$_txt-a_c
	text-align center


$_pull-r
	float right

$_pull-l
	float left

$_pull-c
	float none
	margin 0px auto


$_full-width
	span(1/1)
	box-sizing border-box

// span (no gutter)

$_1in2
	span(1/2)
	box-sizing border-box
	overflow hidden

$_1in3
	span(1/3)
	box-sizing border-box
	overflow hidden

$_2in3
	span(2/3)
	box-sizing border-box
	overflow hidden

$_1in4
	span(1/4)
	box-sizing border-box
	overflow hidden

$_2in4
	span(2/4)
	box-sizing border-box
	overflow hidden

$_3in4
	span(3/4)
	box-sizing border-box
	overflow hidden

$_1in5
	span(1/5)
	box-sizing border-box
	overflow hidden

$_2in5
	span(2/5)
	box-sizing border-box
	overflow hidden

$_3in5
	span(3/5)
	box-sizing border-box
	overflow hidden

$_4in5
	span(4/5)
	box-sizing border-box
	overflow hidden

// col no gutter 1%

$_1in2_gutter1
	col(1/2, gutter:1)
	box-sizing border-box
	overflow hidden

$_1in3_gutter1
	col(1/3, gutter:1)
	box-sizing border-box
	overflow hidden

$_2in3_gutter1
	col(2/3, gutter:1)
	box-sizing border-box
	overflow hidden

$_1in4_gutter1
	col(1/4, gutter:1)
	box-sizing border-box
	overflow hidden

$_2in4_gutter1
	col(2/4, gutter:1)
	box-sizing border-box
	overflow hidden

$_3in4_gutter1
	col(3/4, gutter:1)
	box-sizing border-box
	overflow hidden

$_1in5_gutter1
	col(1/5, gutter:1)
	box-sizing border-box
	overflow hidden

$_2in5_gutter1
	col(2/5, gutter:1)
	box-sizing border-box
	overflow hidden

$_3in5_gutter1
	col(3/5, gutter:1)
	box-sizing border-box
	overflow hidden

$_4in5_gutter1
	col(4/5, gutter:1)
	box-sizing border-box
	overflow hidden

// col no gutter 2%

$_1in2_gutter2
	col(1/2, gutter:2)
	box-sizing border-box
	overflow hidden

$_1in3_gutter2
	col(1/3, gutter:2)
	box-sizing border-box
	overflow hidden

$_2in3_gutter2
	col(2/3, gutter:2)
	box-sizing border-box
	overflow hidden

$_1in4_gutter2
	col(1/4, gutter:2)
	box-sizing border-box
	overflow hidden

$_2in4_gutter2
	col(2/4, gutter:2)
	box-sizing border-box
	overflow hidden

$_3in4_gutter2
	col(3/4, gutter:2)
	box-sizing border-box
	overflow hidden

$_1in5_gutter2
	col(1/5, gutter:2)
	box-sizing border-box
	overflow hidden

$_2in5_gutter2
	col(2/5, gutter:2)
	box-sizing border-box
	overflow hidden

$_3in5_gutter2
	col(3/5, gutter:2)
	box-sizing border-box
	overflow hidden

$_4in5_gutter2
	col(4/5, gutter:2)
	box-sizing border-box
	overflow hidden

// col no gutter 3%

$_1in2_gutter3
	col(1/2, gutter:3)
	box-sizing border-box
	overflow hidden

$_1in3_gutter3
	col(1/3, gutter:3)
	box-sizing border-box
	overflow hidden

$_2in3_gutter3
	col(2/3, gutter:3)
	box-sizing border-box
	overflow hidden

$_1in4_gutter3
	col(1/4, gutter:3)
	box-sizing border-box
	overflow hidden

$_2in4_gutter3
	col(2/4, gutter:3)
	box-sizing border-box
	overflow hidden

$_3in4_gutter3
	col(3/4, gutter:3)
	box-sizing border-box
	overflow hidden

$_1in5_gutter3
	col(1/5, gutter:3)
	box-sizing border-box
	overflow hidden

$_2in5_gutter3
	col(2/5, gutter:3)
	box-sizing border-box
	overflow hidden

$_3in5_gutter3
	col(3/5, gutter:3)
	box-sizing border-box
	overflow hidden

$_4in5_gutter3
	col(4/5, gutter:3)
	box-sizing border-box
	overflow hidden
