b-latest-tweets()
	.b-latest-tweets
		&__title
			margin-bottom 22px
			font-size 14px
			font-weight 700
			color #e0e0e0
			line-height 1.3em
		&__list
			margin 0px
			padding 0px

	.b-latest-tweets-post
		list-style-type none
		margin-bottom 20px
		a
			text-decoration underline
			color #0bb1e5
			&:visited
				color #4FA4B1
			&:hover
				text-decoration none

		&__date
			font-size 12px
			color #E0E0E0

		&__text
			line-height 1.5em
			margin 3px 0px

		&__hash
			color #0bb1e5
