mixin b-latest-tweets()
	.b-latest-tweets
		h5.b-latest-tweets__title LATEST TWEETS
		ul.b-latest-tweets__list
			li.b-latest-tweets-post
				span.b-latest-tweets-post__date about 62 days ago
				p.b-latest-tweets-post__text  RT <a href='#'>@webdesignbeat</a> The Art of Vintage and Retro Typography Letters <a href='#'>bit.ly/1JgYf73</a>
				.b-latest-tweets-post__hash <a href='#'>#typography</a> <a href='#'>#vintage</a> <a href='#'>#retro</a> <a href='#'>#lettering</a>

			li.b-latest-tweets-post
				span.b-latest-tweets-post__date about 62 days ago
				p.b-latest-tweets-post__text  30 Creative 3D Typography Designs <a href='#'>bit.ly/1Avnuma</a>
				.b-latest-tweets-post__hash <a href='#'>#typo</a> <a href='#'>#design</a> <a href='#'>#lettering</a>

			li.b-latest-tweets-post
				span.b-latest-tweets-post__date about 90 days ago
				p.b-latest-tweets-post__text 30 Artistic Free Handwritten Fonts <a href='#'>bit.ly/1Gyy6NQ</a>
				.b-latest-tweets-post__hash <a href='#'>#fonts</a> <a href='#'>#typeface</a>
