include ../../components/components.jade

.h-footer-middle

	.l-footer-about
		+b-about()

	.l-footer-latest-tweets
		+b-latest-tweets()

	.l-footer-recent-news
		+b-recent-news()

	.l-footer-quick-faq
		+b-quick-faq()

.h-footer-bottom
	.l-footer-copywrite
		+b-copywrite()
