b-recent-news()
	.b-recent-news
		&__title
			margin-bottom 22px
			font-size 14px
			font-weight 700
			color #e0e0e0
			line-height 1.3em

		&__list
			margin 0px
			padding 0px

	.b-recent-news-post
		list-style-type none
		&__date
			margin 5px 0px
			color #e0e0e0
			display block
		&__link
			margin 10px 0px
			display block
			color #999999
			text-decoration none
			&:hover
				text-decoration underline
