mixin b-page-header(title, subTitle)
	if subTitle == false
		.b-page-header
			h2.b-page-header__title #{title}
			p.b-page-header__sub-title #{subTitle}
	else
		.b-page-header
			h2.b-page-header__title #{title}
