b-page-header()
	.b-page-header
		padding 10px 20px
		&__title
			color #353535
			font-weight 600
			font-size 32px
			line-height 1.3em
			padding 22px 0px
			border-top 1px solid #e0e0e0
			border-bottom 1px solid #e0e0e0
		&__sub-title
			line-height 1.5em
			padding-bottom 11px
