include ../../components/components.jade

.h-gallery

	.l-gallery-header
		+b-page-header("Gallery", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.")

	.l-gallery-our-work
		+b-gallery-post_our-work("ourWork")
			+b-post-our-work("img", "text")
