b-quick-faq()
	.b-quick-faq
		&__title
			margin-bottom 22px
			font-size 14px
			font-weight 700
			color #e0e0e0
			line-height 1.3em
		&__list
			margin 0px
			padding 0px

	.b-quick-faq-post
		list-style-type none
		&__title
			margin 0
			margin-bottom 10px
			color #e0e0e0
			font-size 15px
			font-weight 200
			letter-spacing 0.5px
		&__text
			margin-bottom 11px
			line-height 1.5
			font-size 14px
