include b-logo/b-logo.jade
include b-nav/b-nav.jade
include b-social/b-social.jade
include b-about/b-about.jade
include b-latest-tweets/b-latest-tweets.jade
include b-recent-news/b-recent-news.jade
include b-quick-faq/b-quick-faq.jade
include b-copywrite/b-copywrite.jade
include b-post-case-preaview/b-post-case-preaview.jade
include b-slider-main/b-slider-main.jade
include b-post-feature/b-post-feature.jade
include b-slider-testimonials/b-slider-testimonials.jade
include b-slider-testimonials/b-slider-testimonials.jade
include b-post-blog-preaview/b-post-blog-preaview.jade
include b-attention/b-attention.jade
include b-title_preview-post/b-title_preview-post.jade
include b-page-header/b-page-header.jade
include b-post-workman-personal-info/b-post-workman-personal-info.jade
include b-gallery-post_workman-personal-info/b-gallery-post_workman-personal-info.jade
include b-post-feature_services/b-post-feature_services.jade

include b-gallery-post_our-work/b-gallery_our-work.jade
include b-post-our-work/b-post-blog-preaview.jade

include b-gallery-post_case-posts/b-gallery-post_case-posts.jade
include b-post-case-preaview/b-post-case-preaview.jade

include b-alert/b-alert.jade

include b-article-case/b-article-case.jade

include b-map/b-map.jade
include b-contact-form/b-contact-form.jade

include b-address/b-address.jade


