b-attention()

$attentionLinkWidth = 30;

	.h-attention-link
		position absolute
		right 0px
		top 0px
		bottom 0px
		width ($attentionLinkWidth)%
		+below(840px)
			width 100%
			padding 25px 0px
			position relative

	.b-attention
		position relative
		padding 15px 0px
		border-top 1px solid #e0e0e0
		border-bottom 1px solid #e0e0e0
		cf()
		&__text
			display inline-block
			width (100 - $attentionLinkWidth)%
			margin 20px 0px 10px
			padding 0px
			color #353535
			font-weight 600
			font-size 32px
			line-height 1.3em
			+below(840px)
				width 100%
		&__sub-text
			display inline-block
			width (100 - $attentionLinkWidth)%
			margin 0 0 10px
			padding-bottom 11px
			line-height 1.5em
			+below(840px)
				width 100%
		&__link
			padding 10px 16px
			background #0bb1e5
			color #ffffff
			text-decoration none
			align()
