mixin b-attention(text, subText, link, linkText)
	.b-attention
		h5.b-attention__text #{text}
		p.b-attention__sub-text #{subText}
		.h-attention-link
			a(href="#{link}").b-attention__link #{linkText}
