/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower


@import '../../bower_components/jeet/stylus/jeet/index.styl'
@import '../../bower_components/rupture-by-jenius/rupture/index.styl'
@import '../../bower_components/nib/lib/nib/index.styl'
@import '../../bower_components/normalize-stylus/normalize.styl'

@import 'helpers/helpers-styl/global-classes.styl'
@import 'components/components.styl'

@import 'views/l-home/l-home.styl'
@import 'views/l-footer/l-footer.styl'
@import 'views/l-header/l-header.styl'
@import 'views/l-about/l-about.styl'
@import 'views/l-services/l-services.styl'
@import 'views/l-gallery/l-gallery.styl'
@import 'views/l-cases/l-cases.styl'
@import 'views/l-contact/l-contact.styl'

body
	background #e9e9e9
	color #999999
	font 14px "Open Sans", Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-webkit-text-size-adjust 100%
	line-height 1

.header
	cf()

.content
	cf()

.footer
	cf()
