mixin b-address()
	+b-title_preview-post("FIND US")
	p.b-address In justo risus, fermentum eget egestas eget, elementum vitae tortor. Maecenas lorem mi, interdum id commodo ac, tincidunt vitae magna. Pellentesque quam justo, aliquam non accumsan a, aliquam id dolor.
		span Address: 501 Boulevard, New York City, New York
		span Phone: 1-800-123-1234
		span Fax: 1-800-123-1234
		span Email: contact@dentalclinic.com