.h-services
	background-color #fff
	center(1200px)

.l-services-header
	b-page-header()

.l-services-post-feature
	&__item
		@extend $_1in3_gutter2
		b-post-feature_services()
		+below(840px)
			width 100%
