include ../../components/components.jade

.h-services

	.l-services-header
		+b-page-header("Services", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.")

	.l-services-post-feature
		.l-services-post-feature__item
			+b-post-feature_services("Evaluation", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis erat ac vehicula. Suspendisse commodo eleifend nibh, non adipiscing nisl fermentum sed. Sed in mi tortor, eu tempus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.")
		.l-services-post-feature__item
			+b-post-feature_services("Treatment", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis erat ac vehicula. Suspendisse commodo eleifend nibh, non adipiscing nisl fermentum sed. Sed in mi tortor, eu tempus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.")
		.l-services-post-feature__item
			+b-post-feature_services("Happy Smile", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis erat ac vehicula. Suspendisse commodo eleifend nibh, non adipiscing nisl fermentum sed. Sed in mi tortor, eu tempus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.")
