b-post-workman-personal-info()
	.b-workman-personal-info
		margin 10px 0px
		text-align center
		&__img
			border-radius 50%
			border 7px solid #e0e0e0
			transition border 0.25s linear
			&:hover
				border 7px solid #0bb1e5
		&__name
			margin 0
			padding 0
			padding-top 11px
			font-size 22px
			font-weight normal
		&__rang
			margin 0
			padding 0
			font-size 14px
			line-height 22px
			color #0bb1e5
		&__desc
			padding 10px 30px
			margin 0px
			line-height 1.5em
