.h-contact
	background-color #fff
	center(1200px)

.l-contact-title
	b-page-header()

.l-contact-map
	padding 0px 20px
	b-map()

.l-contact-contact-form
	padding-left 20px
	@extend $_3in5_gutter3
	b-contact-form()
	+below(840px)
		padding 15px
		width 100%

.l-contact-address
	padding-right 20px
	@extend $_2in5_gutter3
	b-address()
	+below(840px)
		padding 15px
		width 100%
