include ../../components/components.jade

.h-contact

	.l-contact-title
		+b-page-header("Contact")

	.l-contact-map
		+b-map()

	.l-contact-contact-form
		+b-contact-form()

	.l-contact-address
		+b-address()