// b-title()
// 	.b-title
// 		display inline-block
// 		position relative
// 		background #fff
// 		color #353535
// 		font-weight 700
// 		font-size 14px
// 		text-transform uppercase
// 		padding-right 10px
// 		line-height 1.3em
