mixin b-gallery-post_case-posts(ctrl, galleryPost_casePosts_settings)
	.b-gallery-post(ng-controller="#{ctrl}Ctrl as #{ctrl}")
		.b-gallery-post__item(ng-repeat="item in #{ctrl}.galleryPostData")
			block

		if galleryPost_casePosts_settings == "alert"
			+b-alert(ctrl)

		else if galleryPost_casePosts_settings == "article"
			+b-article-case(ctrl)

		else if galleryPost_casePosts_settings == "alert article"
			+b-alert(ctrl)
			+b-article-case(ctrl)
