mixin b-alert(ctrl)
	.h-alert(ng-class="{'_active' : #{ctrl}.alertShow}")
		.b-alert
			img.b-alert__img(ng-src="assets/images/cases/gal-{{ #{ctrl}.alertShowidImg }}.jpg")
			span.b-close(ng-click="#{ctrl}.alertShow = false") +
