// b-title_preview-post()
// 	.h-title
// 		position relative
// 		&:before
// 			height 2px
// 			content ''
// 			display block
// 			width 100%
// 			background-color #898989
// 			align(v)

// 	.b-title
// 		display inline-block
// 		position relative
// 		background #fff
// 		color #353535
// 		font-weight 700
// 		font-size 14px
// 		text-transform uppercase
// 		padding-right 10px
// 		line-height 1.3em
