- var ng = false;

include ../../components/components.jade

.h-home

	.l-home-slider
		+b-slider-main("sliderMain", "slideData", "img", "desc")

	.l-home-feature
		.l-home-feature__item
			+b-post-feature("1", "Cosmetic Dentistry", "The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.")
		.l-home-feature__item
			+b-post-feature("2", "Cavity Therapy", "The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.")
		.l-home-feature__item
			+b-post-feature("3", "Dental Implants", "The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.")

	.l-home-case
		.l-home-case__title
			+b-title_preview-post("CASE STUDIES")
		.l-home-case__item
			+b-post-case-preaview(ng, "noCtrl", "1", "Duis iaculis gravida", "Lorem ipsum dolor sit amet, consectetur adipisc elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus")
		.l-home-case__item
			+b-post-case-preaview(ng, "noCtrl", "2", "Varius seds aliquam erat", "Lorem ipsum dolor sit amet, consectetur adipisc elit. Suspendisse euismod, lectus at ullamcorper faucibus, tellus")
	.l-home-testimonials
		.l-home-testimonials__title
			+b-title_preview-post("TESTIMONIALS")
		.l-home-testimonials__item
			+b-slider-testimonials("sliderTestimonials", "slideData", "text", "pic", "name", "profession")

	.l-home-recent-news
		.l-home-recent-news__title
			+b-title_preview-post("RECENT NEWS")
		.l-home-recent-news__item
			+b-blog-post-preaview("May 12, 2015", "2 Comments", "1", "Pellentesque bibendum", "Vestibulum at massa odio. Curabitur vitae nunc id ligula venenatis suscipit. Vestibulum ante ipsum primis in faucibus")
		.l-home-recent-news__item
			+b-blog-post-preaview("May 11, 2015", "0 Comments", "2", "Quisque tincidunt", "Vestibulum at massa odio. Curabitur vitae nunc id ligula venenatis suscipit. Vestibulum ante ipsum primis in faucibus")
		.l-home-recent-news__item
			+b-blog-post-preaview("May 10, 2015", " 0 Comments", "3", "Sed massa nunc", "Vestibulum at massa odio. Curabitur vitae nunc id ligula venenatis suscipit. Vestibulum ante ipsum primis in faucibus")

	.l-home-attention
		+b-attention("Schedule an appointment. First consultation it's free!", "Fusce a malesuada urna. In pulvinar massa id ligula porta a cursus ante pulvinar.", "#", "Make an Appointment")
