b-post-feature_services()
	.b-post-feature
		text-align center
		&__title
			display block
			width 7em
			height 7em
			border-radius 50%
			background #0bb1e5
			font-size 28px
			color #ffffff
			text-align center
			@extend $_pull-c
			&:before
				content ''
				display table
				height 40%
		&__text
			text-align left
			padding 0px 30px
			line-height 1.5em
