b-social()
	.b-social
		display inline-block
		height 100%
		margin 0px
		padding 5px
		&__item
			display block
			height 22px
			width 22px
			margin 0px 0px 0px 10px
			transition background-position  0.25s linear
			cursor pointer
			&:hover
				background-position -22px 0

	.h-link
		display inline-block
		list-style-type none

	._icon_facebook
		background-image url('../../../../assets/images/social/icon_facebook.png')

	._icon_gplus
		background-image url('../../../../assets/images/social/icon_gplus.png')

	._icon_linkedin
		background-image url('../../../../assets/images/social/icon_linkedin.png')

	._icon_rss
		background-image url('../../../../assets/images/social/icon_rss.png')

	._icon_twitter
		background-image url('../../../../assets/images/social/icon_twitter.png')
