mixin b-social()
	ul.b-social
		li.h-link
			a.b-social__item._icon_facebook
		li.h-link
			a.b-social__item._icon_gplus
		li.h-link
			a.b-social__item._icon_linkedin
		li.h-link
			a.b-social__item._icon_rss
		li.h-link
			a.b-social__item._icon_twitter
